*, *:before, *:after {
  box-sizing: border-box;
}

body {
    background-color: #283739;
}

.app {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 0 5px;
    color: rgba(255, 255, 255, .9);
}

@media screen and (min-width: 500px)  {
    .app {
        font-size: 18px;
        padding: 20px 0 60px 20px;
    }
}

.ul {
    list-style-type: none;
    padding: 0;
}

.li {
    margin-top: 10px;
}

.button {
    background: none;
    border: none;
    outline: none;

    cursor: pointer;

    color: rgba(255, 255, 255, .9);
    font-size: inherit;
    text-decoration: underline;
}

.table {
    border-spacing: 0;
    width: 100%;
    max-width: 600px;
    color: #000000;
}

.tr--red {
    background-color: #f3cfcf;
}

.tr--green {
    background-color: #99ff66;
}

.tr--lightgreen {
    background-color: #dbf3cf;
}

.tr--live {
    background-color: #ffa73d;
    font-weight: bold;
}

.th, .td {
    padding: 10px 10px 10px 0;
    text-align: left;
}

.th {
    color: rgba(255, 255, 255, .9);
}

.td {
    width: 15%;
}

.td:first-of-type {
    padding-right: 5px;
    width: 70%;
}

.spinner-background {
    background-color: #283739;
    width: 100vw;
    height: 100vh;
}

.spinner-wrapper {
    position: fixed;
    left: 0%;
    top: 50%;
    width: 100%;
    height: 100%;
    transform: translateX(-100px);
    animation: move 10s infinite linear;
}

.spinner {
    width: 100px;
    height: 50px;

    background-color: #C5D200;

    transform: rotate(0deg);
}

.spinner.spinner-top {
    border-radius: 50px 50px 0 0;
    animation: topHalf 1s infinite;
}

.spinner.spinner-bottom {
    border-radius: 0 0 50px 50px;
    animation: bottomHalf 1s infinite;
}

@keyframes topHalf {
    50% {
        transform: rotate(-30deg);
    }

}
@keyframes bottomHalf {
    50% {
        transform: rotate(30deg);
    }
}

@keyframes move {
    100% {
        transform: translateX(100%);
    }
}
