*, *:before, *:after {
  box-sizing: border-box;
}

.app {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 0 5px 60px 5px;

}

@media screen and (min-width: 500px)  {
    .app {
        font-size: 18px;
        padding: 20px 0 60px 20px;
    }
}

.ul {
    list-style-type: none;
    padding: 0;
}

.li {
    margin-top: 10px;
}

.button {
    background: none;
    border: none;
    outline: none;

    cursor: pointer;

    color: #0000bb;
    font-size: inherit;
    text-decoration: underline;
}

.table {
    border-spacing: 0;
    width: 100%;
    max-width: 600px;
}

.tr--red {
    background-color: #f3cfcf;
}

.tr--green {
    background-color: #dbf3cf;
}

.th, .td {
    padding: 10px 10px 10px 0;
    text-align: left;
}

.td {
    width: 15%;
}

.td:first-of-type {
    padding-right: 5px;
    width: 70%;
}
