.app {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 20px 0 0 20px;
}

.ul {
    list-style-type: none;
    padding: 0;
}

.li {
    margin-top: 10px;
}

.button {
    background: none;
    border: none;
    outline: none;

    cursor: pointer;

    color: #0000bb;
    font-size: inherit;
    text-decoration: underline;
}

.table {
    border-spacing: 0;
}

.tr--red {
    background-color: #f3cfcf;
}

.tr--green {
    background-color: #dbf3cf;
}

.th, .td {
    padding: 10px 40px 10px 0;
    text-align: left;
}

